.create-btn {
  position: fixed;
  z-index: 10;
  bottom: 22px;
  right: 12px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f8a978;
  color: #fff;
  text-align: center;
  padding: 20px;

  .material-icons {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 993px){
  .create-btn {
    display: none;
  }
}
