.search_box {

  @media screen and (max-width: 768px) {
    nav {
      margin: auto !important;
    }
  }

  nav {
    width: 60% !important;
    margin: 0 auto;
    background-color: rgb(236, 236, 236) !important;
    border-radius: 50px;
  
    .material-icons {
      font-size: 40px;
      color: rgb(46, 44, 43);
    }

    .input-field label.active i {
      color:  rgb(46, 44, 43) !important;
    }

    input[type=search]:not(.browser-default) {
      border-radius: 40px !important;
      margin: 0;
    }

    input[type='submit'] {
      display: none;
    }   
  }
}



 