.create-form {
  background: #3594cb;
  padding: 60px 0;

  input {
    padding: 0 15px !important;
    box-sizing: border-box !important;
  }

  .plans-form{
    margin: 20px 60px;
  
    input[type=text]:not(.browser-default) {
      border: 2px solid #3594cb !important;
      border-radius: 5px;
    }
  
    label {
      font-size: 20px;
      color: #3594cb;
    }
  
    &--box {
      margin: 0 13px;
      padding: 16px 150px;
    }
  
    .nested-fields {
      margin: 20px 60px;
      padding: 16px 100px;
      display: flex;

      .form-left {
        width: 300px;
        margin-right: 40px;

        #image {
          display: none;
        }
      }

     
  
      select {
        border: 2px solid #3594cb !important;
        border-radius: 5px;
        width: 80%;
      }
      
      p{
        padding-top: 20px;
        font-size: 15px;
      }
  
      .material-icons {
        font-size: 50px;
        margin: 0 60px ;
        cursor: pointer;
      }
  
      textarea {
        width: 100%;
        height: 7rem;
        font-size: 18px;
        background-color: #fff;
        border: 2px solid #3594cb;
        border-radius: 5px;
        padding: 5px 15px;
      }
    }

    .btn-floating {
      font-size: 30px;
      width: 60px;
      height: 60px;
      margin: 30px 20px;
      line-height: 1.5;
    }
  
    .waves-effect {
      font-size: 30px;
      width: 60%;
      height: 60px;
      margin: 30px 20px;
      line-height: 2.0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .plans-form {
      margin: 20px 20px;

      .card {
        margin: 60px auto !important;
      }
        
      &--box {
        margin: 20px 70px 25px;
        padding: 15px 15px;
        width: 100%;
        height: 200px;
      }
  
      .nested-fields {
        margin: 20px 80px 25px;
        padding: 35px 15px;
        width: 100%;
        display: block;
        
      }
    
    }
    
  }
  
}
