.footer {
  height: 300px;
  width: 100%;
  background: #96c4e9;  
  position: relative;


  &-list {
    display: flex; 
    justify-content: center;

    .fa {
      font-size: 50px;
      color: #fff;
      margin: 0 30px;
      line-height: 300px;
    }

    .copylight {
      position: absolute;
      color: #fff;
      bottom: 0;
    }
  }
}
