.forms {
  background: #3594cb;
  height: 100vh;

  h2 {
    color: #fff;
    margin-top: 0 !important;
  }

  &-box {
    margin: auto;
    width: 560px;
    height: 440px;
    padding: 20px 30px;
    border: 3px solid #3594cb;
    border-radius: 30px;
    background: #fff;
  }

  @media screen and (max-width: 768px) {
    .forms {

      &-box {
        width: 300px;
      }
    }
  }
}

.field {
  margin: 30px 20px;
}

.actions {
  text-align: center;
}

input[type='submit'] {
  color: #fff;
}

.dropzone {
  border: 2px dashed #b4bcc2;
  
  .dz-message {
    font-size: 16px;
    text-align: center;
    margin: 0
  }
}

#error_explanation h2{
  display: none;
}

#error_explanation ul{
  color: red;
}
