.howto {
  padding: 70px 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #89C1DA;
 
  &-title {
    font-size: 30px;
  }

  &-texts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 767px) {
      .howto-texts-post {
        padding: 0 !important;
      }
    }

    &-post {
      padding: 40px;
      margin: auto;

      &_text {
        padding: 40px 0;
        font-size: 20px;
      }

      img {
        margin-left: 14px;
        width: 200px;
        height: 400px;
      }
    }
  }
}
