.howto {
  padding: 70px 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #89C1DA;
 
  &-title {
    font-size: 30px;
  }

  &-texts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    &-post {
      margin: auto;

      &_text {
        padding: 40px 0;
        font-size: 20px;
      }


      img {
        width: 200px;
        height: 400px;
      }
    }
  }
}
