.plans {

  &-result {
    color: rgba(11, 34, 44, 0.493);
    padding: 230px 0 0 30px;
    font-family: 'Farro', sans-serif;
  }

  .main-contents {

    padding: 290px 30px 0;

    &-list {
      margin: 0 0 30px;
      
      .card {
  
        &-image {
          width: 150px;
          height: 100%;
        }

        .card-stacked {
          overflow: hidden;

          .card-title {
            padding: 0 20px 0;
          }
    
          .card-content{
            padding: 0 20px 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        
        
      }
    }
  }

  


}

  