.mid-wrapper {
  padding: 70px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  

  &__title {
    font-size: 30px;
    color: #89C1DA;
  }

  &__images {
    padding: 30px 10px;
    margin: 20px 30px;

    &-list {

      img {
        width: 260px;
        height: 230px;
        position: relative;
      }

      // .image-text {
      //   position: absolute;
      //   color: rgba(255, 251, 251, 0.89);
      //   bottom: 0;
      //   left: 0;
      // }
    }

    
    
  }
}

.howto {
  padding: 70px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &-title {
    font-size: 30px;
    color: #89C1DA;
  }
}

