<li>
  <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span><%= content.time %></span></time>
  <div class="cbp_tmicon cbp_tmicon-loc"></div>
  <div class="cbp_tmlabel">
    <h4><%= content.place_name %></h4>
    <div class="contents-image">
    </div>
    <p><%= content.description %></p>
  </div>
</li>
