<div class="top-contents">
  <div class="header">
  <%= render partial: "layouts/nav" %>
    <h3 class="header-title center white-text">Share your travel ideas.</h3>
    <h3 class="header-title center white-text">Find the best plans for your journey.</h3>
    <%= render partial: "layouts/search" %>
  </div>
</div> 
  

