<div class="plans">
  <%= render partial: "layouts/nav" %>
  <div class="plans-title">
    <h2 class="center">Plans around the world</h2>
  </div>
  <div class="main-contents">
    <%= render partial: "list" %>
  </div> 
</div>
