<div class="plans">
  <%= render partial: "layouts/g-nav" %>
  <div class="plans-result left">
    <% if @keyword.present? %>
      Results for "<%= @result %>"
    <% else %>
      Results not found
    <% end %>
  </div>
  <div class="main-contents">
    <%= render partial: "list", collection: @keyword, as: "plan" %>
  </div> 
</div>
<%= render partial: 'layouts/create_btn' %>
