<div class="plans">
  <%= render partial: "layouts/g-nav" %>
  <div class="plans-title">
    <div class="center plans-result">
      <% if @plan.destination.present? %>
        <%= @plan.destination %>
      <% else %>
        <%= @plan.all %>
      <% end %>
    </div>
  </div>
  <div class="main-contents">
    <%= render partial: "list", collection: @keyword, as: "plan" %>
  </div> 
</div>
