<%= render partial: 'layouts/g-nav' %>
<div class="contents">
  <% @contents.each do |content| %>
    <div class="contents-image">
      <%= image_tag(content.image.url)%>
    </div>
    
  <% end %>
  <div class="contents-title center bold">
    <%= @plan.title %>
    <br />
    ●
    <br />
    ●
    <br />
    ●
  </div>
  
  <ul class="cbp_tmtimeline">
    <%= render partial: "contents-list", collection: @contents, as: "content" %>
  </ul>
</div>
