<div class="global-nav2">
  <nav>
    <div class="nav-wrapper head" style= "background-color: #64b2cd;">
      <a href="/" class="brand-logo center">Trippot</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div> 
<%= render partial: 'layouts/side-nav' %>
