<div class="global-nav">
  <nav>
    <div class="nav-wrapper head" style= "background-color: #64b2cd;">
      <a href="/" class="brand-logo center">TripCo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <%= render partial: 'layouts/search-box' %>
</div> 
<%= render partial: 'layouts/side-nav' %>
